.Container_acc{
    /* width: 1270px; */
    /* padding-left: 15px; */
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
}
.Account_Style{
    display: flex;
    width: 100%;
    margin-right: 20px;
    flex-wrap: wrap;
}
.Account_StyledAvatar{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding-left: 15px;
    margin: 0px 0px 12px;
}
.Account_StyledAvatar img{
    width: 60px;
    margin: 12px 12px 0px 0px;
    border-radius: 50%;
}
.info{
    flex: 1 1 0%;
    font-size: 15px;
    line-height: 15px;
    color: rgb(51, 51, 51);
    font-weight: 300;
}
.info strong {
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    display: block;
    margin: 4px 0px 0px;
}
.Account_StyledNav{
    margin: 0px;
    padding-left: 15px;
    padding-right: 50px;
    list-style: none;
    font-size: 15px;
}
.Account_StyledNav li{
    border: solid 1px var(--primary);
   /* margin-bottom:50px; */
   padding: 15px 0px 15px 10px;
   margin-bottom: 20px;
   background-color: var(--surface);
}
.Account_StyledNav a{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-decoration: none;
    color: rgb(74, 74, 74);
    
}
.Account_StyledNav li a span{
    margin-left: 10px;
}
.is-active{
    color: var(--primary);
}
.Infor_Style{
    flex: 1 1 0%;margin-top:17px;margin-left:15px;border-radius:12px;border:solid 1px black;
    /* display: flex; */
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 20px 40px 20px 40px;
    background-color: rgb(255, 255, 255);
}
.info-title{
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: rgb(100, 100, 109);
}
.styles_StyledAccountInfo{
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    margin-top: 22px;
}
.form-info{
    display: flex;
    flex-direction: row;
}
.styles_StyleAvatar{
    background-color: var(--surface);
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 4px solid var(--primary);
    position: relative;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.styles_StyleAvatar .avatar-view{
    cursor: pointer;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
}
.avatar-view .edit{
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: rgb(100, 100, 109);
    border-radius: 12px;
    right: 3px;
    bottom: 5px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    display: flex;
}
.form-info .form-name{
    width: 100%;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
}
.form-control{

    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 25px;
    
}
.form-info .form-control{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    margin: 0px 0px 34px;
}
.form-control .input-label{
    width: 110px;
    min-width: 110px;
    font-size: 16px;
    color: rgb(51, 51, 51);
    margin-right: 16px;
}
.hisWEc input{
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s, -webkit-box-shadow 0.15s ease-in-out 0s;
    height: 40px;
    width: 150%;
    border-radius: 12px;
    padding: 10px 12px;
    line-height: 20px;
    outline: none;
    flex: 1 1 0%;
    color:var(--lightprimary);
    background-color: var(--surface);
    border: 1px solid var(--lightprimary);
}
.style_StyledBirthdayPicker{
    display: flex;
    flex: 1 1 0%;
    position: relative;
    z-index: 1;
}
.style_StyledBirthdayPicker select{
    width: 100px;
    color:var(--lightprimary);
    border: 1px solid var(--lightprimary);
    height: 34px;
    padding: 6px 12px;
    line-height: 34px;
    outline: none;
    border-radius: 12px;
    margin: 0px 60px 0px 0px;
    background-color: var(--surface);
    /* background: 0px center; */
    box-shadow: none;
}
.Radio_StyledRadio{
    display: flex;
    margin-right: 50px;
    cursor: pointer;
}
.Radio_StyledRadio .label{
    font-size: 13px;
    line-height: 20px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: var(--lightprimary)
}
.Radio_StyledRadio .radio-fake{
    width: 18px;
    height: 18px;
    border: 1px solid rgb(147, 150, 157);
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin: 0px 10px 0px 0px;
    position: relative;
    z-index: 1;
    color: rgb(120, 120, 120);
    flex-shrink: 0;
}
.Radio_StyledRadio input[type="radio"] {
    position: absolute;
    height: 1px;
    width: 1px;
    visibility: hidden;
    clip: rect(0px, 0px, 0px, 0px);
    opacity: 0;
}
.hisWEc .icon-right{
    position: absolute;
    left: 2rem;
    top: 75%;
    transform: translateY(-50%);
    width: 24px;
}
.hisWEc ::placeholder{
    color:var(--lightprimary)
}