.sidebar-product {
    background-color: #F0EEEE;
    height: 100%;
    border-radius: 0 10px 10px 0;
    text-align: center;
}

.sidebar-product .title{
    font-size: 20px;
    font-weight: 600;
    color: var(--primary);
}

.optionbutton .btn-option{
    background-color: var(--background);
    border-radius: 10px;
    border-color: var(--lightprimary);
    border-width: 2px;
    width: 250px;
}

.optionbutton .clicked{
    background-color: var(--lightprimary);
    color: white;
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--lightprimary);
    width: 250px;
}

.optionbutton .btn-option:hover{
    background-color: var(--lightprimary);
    color: white;
    border-radius: 10px;
    border-width: 2px;
    border-color: var(--lightprimary);
    width: 250px;
}

.productcard .card {
    width: 250px;
    height: 397px;
    border-radius: 0 15px 0 0;
    border-color: var(--background);
    background-color: var(--background);
}
.productcard .card img{
    height: 250px;
    border-radius: 0 15px 0 0;
}
.productcard .card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.productcard .card-body{
    padding: 0 10px 10px 5px;
    background-color: var(--surface);
}

.productcard .card-title{
    font-size: 18px;
    font-weight: 500;
    color: var(--primary);
}

.productcard .card-text{
    font-size: 16px;
    text-align: justify;
    color: var(--lightsecondary);
}

.productcard .view-detail {
    border-color: var(--primary);
    color: var(--primary);
    border-radius: 10px;
    font-size: 14px;
}

.productcard .price {
    align-items: flex-end !important;
    font-size: 18px;
}

.moreaction .Ghost_Button {
    height: 30px;
}