.blogCardContainer {
    background-color: var(--lightprimary);
    border-radius: 0.5rem;
    margin: 2rem 1rem;
}

.blogCardContainer img {
    width: 100%;
    padding: 0.5rem 1rem;
}

.blogCardContainer .blogTag {
    text-transform: uppercase;
    margin-left: 1rem;
    line-height: 3rem;
    font-weight: bold;
}

.blogCardContainer .blogTitle {
    text-align: center;
    color: var(--primary);
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
}

.blogCardContainer .datePosted {
    text-align: right;
    font-weight: bold;
    margin: 1rem 1rem 0 0;
}

.blogCardContainer .blogAuthor {
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 0;
    margin-left: 0.5rem;
}

.blogCardContainer .blogShortContent {
    margin-right: 1rem;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

.BlogPage {
    display: flex;
}

.hotBlogCard {
    padding: 1rem;
}

.hotBlogCard .card-body{
    color: var(--primary)
}

.hotBlogCard .card-title {
    text-transform: uppercase;
}

.hotBlogCard .card-body .card-text{
    font-weight: 600;
    text-transform: uppercase;
}

.hotBlogCard:hover{
    transform: scale(1.01);
}

.hotBlog, .hotBlog1, .relatedBlog {
    background-color: var(--lightprimary);
    margin: 2rem;
    border-radius: 0.5rem;
}

.hotBlog .hotTitle, .hotBlog1 .hotTitle, .relatedBlog .hotTitle {
    text-align: center;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-top: 1rem;
}

.hotBlogCard .card-tag {
    display: flex;
    justify-content: center
}

.hotBlogCard .card-tag .card-title {
    margin: 0 0.5rem 0.5rem 0.5rem;
}

.hotBlog {
    width: 40%;
}

@media screen and (max-width: 996px) {
    .BlogPage {
        display: block;
    }
    .hotBlog {
        width: fit-content;
        margin: 1rem auto;
    }
}

@media screen and (max-width: 752px) {
    .hotBlog {
        margin: 1rem 2rem;
    }
}