#inputName::placeholder {
    color: var(--lightprimary);
    opacity: 1;
}
#inputPass::placeholder {
    color: var(--lightprimary);
    opacity: 1;
}
#inputEmail::placeholder {
    color: var(--lightprimary);
    opacity: 1;
}
#inputAll::placeholder {
    color: var(--lightprimary);
    opacity: 1;
}