.product-detail{
    margin: 30px 55px;
    font-weight: 500;
}

.backtohome{
    text-decoration: none;
    color: black;
}

.backtohome:hover{
    color: var(--primary);
}

.breadcrumb {
    --bs-breadcrumb-divider: '>';
}

.breadcrumb .breadcrumb-item{
    color: var(--primary);
    font-weight: 500;
}
.description {
    font-weight: 500;
}

.description .product-name{
    color: var(--primary);
    font-size: 20px;
}

.product-image img{
    width: 80%;
    border: 1px solid var(--primary);
    border-radius: 10px;
}

.description .rating {
    align-items: center;
}

.feedback-num {
    color: var(--lightsecondary);
}

.description .brief {
    padding-top: 20px;
    text-align: justify;
}

.description .brief .readmore {
    color: var(--lightsecondary);
    border: none;
    background-color: var(--background);
}

.description .category .btn-option {
    background-color: var(--background);
    border-radius: 10px;
    border-color: var(--primary);
    color: var(--primary);
    border-width: 2px;
}

.description .category .btn-option:hover{
    background-color: var(--lightprimary);
    border-radius: 10px;
    color: white;
    border-color: var(--primary);
    border-width: 2px;
}

.description .category .clicked {
    background-color: var(--lightprimary);
    border-radius: 10px;
    color: white;
    border-color: var(--primary);
    border-width: 2px;
}

.description .product-price{
    color: var(--primary);
}

.price .action {
    color: var(--primary);
    font-size: 20px;
}

.numberToOrder .input-spinner {
    width: 40%;
    margin: 0 auto;
}

.numberToOrder .input-spinner .input-group {
    justify-content: center !important;
}

.numberToOrder .btn-primary {
    border: 2px solid var(--primary) !important;
    color: var(--primary);
    background-color: white;
}

.numberToOrder .btn-primary:active {
    background: var(--primary);
    border-color: var(--primary) !important;
    color: white;
    outline: none !important;
    box-shadow: none;
}

.numberToOrder .btn-primary:focus {
    background: var(--primary);
    border-color: var(--primary) !important;
    color: white;
    outline: none !important;
    box-shadow: none;
}

.numberToOrder .form-control {
    border-top: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    border-left: none;
    border-right: none;
    flex: 0.5 0.5;
    text-align: center;
    font-weight: 500;
}

.numberToOrder .form-control:focus{
    outline: var(--lightprimary) solid 2px;
    box-shadow: none;
}

#input-spinner-left-button {
    border-radius: 10px 0px 0px 10px;
}

#input-spinner-right-button {
    border-radius: 0px 10px 10px 0px;
}

.action .Ghost_Button{
    width: fit-content;
    padding: 10px 10px;
}

.action .FormSearch_Button{
    width: fit-content;
    height: 100%;
    padding: 10px 10px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 10px !important;
}

.action{
    gap: 30px;
}

.divider {
    width: 100%;
    background-color: #e7e7e6;
    padding: 0.5px;
}

.more-info {
    font-weight: 500;
}

.title {
    color: var(--primary);
}
.more-description .content{
    /* margin: auto 50px; */
    text-align: justify;
}

.feedback .content {
    font-size: 15px;
    background-color: var(--surface);
    border-color: var(--surface);
}



.listblog .hotblogcard{
    width: 80%;
}

.btn-send {
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    border-width: 2px;
}

.btn-send:active {
    background-color: var(--primary) !important;
    outline: none !important;
    box-shadow: none !important;
    color: white;
    border-radius: 5px;
    border-width: 2px;
}

.btn-send:hover{
    background-color: var(--lightprimary);
    color: white;
    border-radius: 5px;
    border-width: 2px;
    border-color: var(--lightprimary);
}

@media (max-width: 430px) {
    .product-detail {
        margin: 15px 15px;
    }

    .product-detail .topbar .breadcrumb .breadcrumb-item.active{
        display: none;
    }
}

@media (max-width: 767px) {
    .description .product-name{
        color: var(--primary);
        text-align: center;
        padding-top: 10px;
    }

    .feedback-num {
        text-align: center;
    }
}