.title {
    margin: 50px;
}

.alldata {
    display: flex;
}

.alldata__itemslist__header {
    display: flex;
    width: 1008px;
    height: 120px;    
    background-color: #ffecf4;
    border-radius: 12px;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
}

.items__thumb {
    width: 129px;
    height: 172px;
    border: 1px solid #FF2C86;
    border-radius: 5px;
    margin-right: 20px;
}

.alldata__itemslist__header__tatca {
    display: flex;
    align-items: center;
    flex: 2;
}

.alldata__itemslist__header__tatca__input {
    margin-right: 10px;
}

.alldata__itemslist__header__item {
    flex: 1;
    text-align: center;
}

.items {
    display: flex;
    background-color: #ffecf4;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.items__checkthumb__check {
    margin-right: 10px;
}

.items__checkthumb {
    display: flex;
    align-items: center;
    flex: 2;
}

.items__item {
    flex: 1;
    text-align: center;
}

.items__quantity {
    display: flex;
    justify-content: center;
    height: 45px;
}

.items__quantity__decrease {
    width: 50px;
    border: 1px solid #FF2C86;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.items__quantity__decrease:hover {
    cursor: pointer;
}

.items__quantity__increase {
    width: 50px;
    border: 1px solid #FF2C86;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.items__quantity__increase:hover {
    cursor: pointer;    
}


.items__quantity__value {
    width: 50px;
    border: 1px solid #FF2C86;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.items__close {
    display: flex;
    align-self: flex-start;
}

.items__close__symbol:hover {
    cursor: pointer;
}

.alldata__paymentinfo__diachi {
    display: flex;
    flex-direction: column;
    background-color: #ffecf4;
    border-radius: 10px;
    padding: 15px;
}

.alldata__paymentinfo__diachi__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.alldata__paymentinfo__diachi__namephone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.alldata__paymentinfo {
    /* width: 337px; */
    margin-left: 20px;
    margin-right: 20px;
}

.alldata__paymentinfo__voucher{
    display: flex;
    flex-direction: column;
    background-color: #ffecf4;
    margin-top: 20px;
    padding: 15px;

}

.alldata__paymentinfo__voucher__choosevoucer {
    display: flex;
    width: 337px;
    align-items: center;
    margin-top: 10px;
}

.alldata__paymentinfo__price {
    display: flex;
    flex-direction: column;
    background-color: #ffecf4;
    margin-top: 20px;
    padding: 15px;
    border-radius: 10px;
}

.alldata__paymentinfo__price__sum, .alldata__paymentinfo__price__voucher, .alldata__paymentinfo__price__realprice{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 5px;
}

.alldata__paymentinfo__buybutton {
    margin-top: 20px;

}

.alldata__paymentinfo__buybutton__element {
    border-radius: 5px;
    font-size: xx-large;
    color: white;
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #FF2C86;
    
}

.alldata__paymentinfo__buybutton__element:hover {
    cursor: pointer;
    background-color: #ff2c87bb;

}

.text_pink {
    color: #FF2C86
}

.text_pink:hover {
    cursor: pointer;
}

.items__item__sum {
    color: #FF2C86
}